@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  overflow: auto;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}


h2, 
li,
p,
ul,
h1,
h3,
a,
.moon-sharp {
  margin: 0;
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

.header-title {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.white-text {
  color: #ffffff;
}

.accent-text {
  color: #E2CF00;
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.section-sub-heading {
  text-align: center;
  margin-top: 1em;
  font-size: 1.2rem;
}


/* Colors */

.about,
.header,
.header-top,
.projects {
  transition: all .2s ease-in-out;
  background: #181818;
}

.card, .skills, .footer {
  background: #191919;
}

.about,
.header,
.header-top,
.nav-list,
.nav-list-items,
.card-title,
.card-link,
.nav-list,
.card-title,
.card-desc,
.card-link,
.section-heading,
.about-text, 
.section-heading,
.footer-text,
.footer-list-items,
.hamburger-list-items,
.hamburger-close-icon, 
ion-icon[name=logo-html5],
ion-icon[name=logo-css3], 
ion-icon[name=logo-javascript],
ion-icon[name=logo-react],
ion-icon[name=git-branch-outline],
.skill-title,
.section-sub-heading {
  color: #ffffff;
  transition: all .2s ease-in-out;
} /* Need to create a class to make this easier to understand */

.section-heading,
.main-heading,
.main-subheading,
.footer-list-items:hover {
  color: #E2CF00;
}

.card-link {
  background: #E2CF00;
  color: #242424;
}

.code-link {
  background: #202020;
  color: #ffffff;
}


/* Light Mode */

#app-light .about,
#app-light .header,
#app-light .projects,
#app-light .header-top,
#app-light .footer {
  background: #e9eded;
}

#app-light .skills,
#app-light .card-link,
#app-light .footer,
#app-light .nav-list-items:hover {
  background: #5a6d6c;
}

#app-light .card,
#app-light .hamburger-nav,
#app-light .code-link {
  background: #dce4e3;
}

#app-light ion-icon[name=logo-html5],
#app-light ion-icon[name=logo-css3], 
#app-light ion-icon[name=logo-javascript],
#app-light ion-icon[name=logo-react],
#app-light ion-icon[name=git-branch-outline],
#app-light .nav-list-items:hover,
#app-light .skill-title,
#app-light .skills .section-heading,
#app-light .skills .section-sub-heading,
#app-light .card-link,
#app-light .footer-list-items,
#app-light .footer-text {
  color: #e9eded;
}

#app-light .about,
#app-light .header,
#app-light .header-top,
#app-light .nav-list,
#app-light .nav-list-items,
#app-light .nav-list,
#app-light .card-title,
#app-light .about-text, 
#app-light .section-heading,
#app-light .hamburger-list-items,
#app-light .card-desc,
#app-light .code-link,
#app-light .header-title,
#app-light .nav-list-items,
#app-light .accent-text,
#app-light .section-heading,
#app-light .section-sub-heading,
#app-light .hamburger-icon, 
#app-light .hamburger-close-icon,
#app-light .main-subheading,
#app-light .main-heading,
#app-light .main-subheading {
  color: #5a6d6c;
}

#app-light .card-link {
  border: 1px solid #5a6d6c;
}

#app-light .card-link {
  transition: all 0.1s ease-in;
}

#app-light .card-link:hover {
  filter: brightness(110%)
}

#app-light .card {
  border: none;
}


/* Header */

.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
}

.hamburger-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin: 0;
}

.hamburger-icon, 
.hamburger-close-icon {
  font-size: 2.25rem;
  padding: 0.1em;
  border-radius: 7px;
}




/* Hamburger Navigation */

.hamburger-nav {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
  background: #202020;
  transform: translateX(150%);
  transition: all .4s ease-in-out;
}

.hamburger-close-icon {
  position: fixed;
  right: 20px;
  top: 20px;
}

.active-nav {
  transform: translateX(0%);
}

.hamburger-list {
  list-style: none;
  padding: 0;
  text-align: center;
  display: grid;
  place-content: center;
  height: 100%;
}


/* Navigation */


.nav-list {
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
  display: none;
}

.nav-list-items,
.hamburger-list-items {
  padding: 1.5em 5em;
  font-weight: bold;
  text-transform: uppercase;
}


.nav-list-items,
.hamburger-list-items,
.hamburger-icon, 
.hamburger-close-icon  {
  cursor: pointer;
}



/* Main */

.main {
  padding: 1em;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./images/alesia-kazantceva-VWcPlbHglYc-unsplash.png');
  background-blend-mode:hard-light;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .2s ease-in-out;
}

#app-light .main {
  background-image: url('./images/light-main-img.png');
  transition: all .2s ease-in-out;
}


.main-subheading {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px rgba(0,0,0,0.2);
}

.main-heading {
  text-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

/* Fadein Animation */

.main-subheading,
.main-heading,
.nav-list {
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/* About */

.about, 
.projects,
.footer,
.skills {
  padding: 3em 2em;
}


.section-heading {
  text-align: center;
}

.about-text {
  margin-bottom: 1em;
  line-height: 1.7;
}

.about-img {
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(0.3);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  filter: grayscale(100%);
}

.about-text:last-child {
  margin-bottom: 0;
}




/* Skills */



.skill-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
  gap: 25px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-title {
  margin-bottom: 0.5em;
}

ion-icon[name=logo-html5],
ion-icon[name=logo-css3], 
ion-icon[name=logo-javascript],
ion-icon[name=logo-react],
ion-icon[name=git-branch-outline] {
  font-size: 10rem;
  margin: 0;
  line-height: 0;
  margin-bottom: 0.2em;
}




/* Certificates */


.certificate-img {
  border-radius: 10px;
  outline: solid 5px #c0cbca;
  outline-offset: -5px;
  max-width: 50%;
}


/* Projects */

.project-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2em;
  gap: 25px;
}


.card {
  display: flex;
  width: 100%;
  height: 400px;
  border-radius: 15px;
  transition: filter 0.3s;
  flex-direction: column;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

.card-img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.card-box-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60%;
}

.card:hover {
  filter: brightness(110%);
}

.card-title, .card-desc {
  text-align: center;
  word-wrap: break-word;
  padding: 0 1rem; 
}

.card-desc {
  margin: 1em 0;
}

.card-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0 1em;
  text-align: center;
  font-size: 0.9rem;
}

.card-link {
  display: block;
  padding: 0.8em 0.9em;
  transition: filter 0.3s;
  border-radius: 5px;
  width: 100%;
  letter-spacing: 0.6px;
}

.card-link:hover {
  filter: brightness(120%)
}



/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 2em;
}

.footer-list-items {
  list-style-type: none;
  font-size: 2em;
  line-height: 0;
}

.github {
  border-radius: 10px;
}

.footer-text {
  opacity: 0.5;
  font-size: 14px;
  line-height: 0;
}

/* Media Queries */

@media (min-width: 700px) {

  .hamburger-nav {
    display: none;
  }

  h1 {
    font-size: 5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.05rem;
  }

  .hamburger-icon {
    display: none;
  }  

  .about, .projects, .skills {
    padding: 3em;
  }

  .header-top {
    justify-content: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    gap: 18px;
  }

  .nav-list-items, 
  .hamburger-list-items {
    list-style-type: none;
    padding: 0.5em 0.75em;
    border-radius: 5px;
    transition: background 0.2s, color 0.2s;
  }

  .nav-list-items:hover, 
  .nav-list-items:focus {
    background: #E2CF00;
    color: #202020;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 3em;
  }

  .footer-list {
    flex-direction: row;
    gap: 20px;
  }

  /* Main */

  .main {
    min-height: 95vh;
  }

  .main-subheading {
    font-size: 1.75rem;
    letter-spacing: 3.5px;
    text-shadow: 0px 2px 0px rgba(0,0,0,0.2);
  }

  
  .main-heading {
    text-shadow: 0px 6px 0px rgba(0,0,0,0.2);
  }

  /* Projects */

  .project-cards {
    flex-direction: row;
    gap: 20px;
  }

  .card {
    width: 100%;
    max-width: 100%;
    height: 200px;
    flex-direction: row;
  }

  .card-img {
    width: 25%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }


  .card-desc {
    text-align: left;
  }


  .card-links {
    flex-direction: row;
    padding: 0 1em; 
  }

  .card-link {
    padding: 0.75em;
  }

  
  .card-box-text {
    padding: 1em;
    width: 75%;
    height: 100%;
    align-items: flex-start;
  }

  /* Skills Tablet/PC */

  .skill-items {
    flex-direction: row;
    justify-content: center;
  }

}


@media (min-width: 900px) {

  .container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
  } 
  
}

/* Reveal Animation */


.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
