@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  color: #252525;
  background-color: #121212;
}

h2, 
li,
p,
ul,
h1 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
}

.white-text {
  color: #DCDCDC;
}


/* Header */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.hamburger-icon {
  width: 40px;
  cursor: pointer;
  background:#DCDCDC;
  border-radius: 7px;
}

.header-title {
  color: #FFD56F;
  font-size: 1.5rem;
}

/* Navigation */

.nav-list {
  background: #121212;
  color: whitesmoke;
  padding: 1em 0;
  margin: 0;
  text-align: center;
}

.nav-list-items {
  padding: 1em 0;
  font-weight: bold;
  text-transform: uppercase;
  color:#FFD56F;
  cursor: pointer;
}

/* Main */

.main {
  padding: 2em;
  min-height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./images/alesia-kazantceva-VWcPlbHglYc-unsplash.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-heading {
  color: #FFD56F;
  text-shadow: 1px 1px #252525;
}

.main-subheading {
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFD56F;
  text-shadow: 1px 1px #252525;
}

/* About */

.about {
  padding: 2em;
}

.sub-heading {
  color: #FFD56F;
  text-align: center;
  margin-bottom: 1em;
  text-shadow: 2px 2px #252525;
}

.about-text {
  margin-bottom: 1em;
  color: #DCDCDC;
  line-height: 1.6;
}

.about-text:last-child {
  margin-bottom: 0;
}

/* Projects */

.projects {
  padding: 2em;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 100%;
  max-width: 550px;
  height: 400px;
  background: #252525;
  border-radius: 10px;
  transition: background 0.5s;
}

.card:hover {
  background: #515151;
}

.card-title {
  color: #DCDCDC;
  text-align: center;
}

/* Media Queries */

@media (min-width: 700px) {

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }
  
  .hamburger-icon {
    display: none;
  }

  .header-top {
    border: none;
    padding: 0;
  }

  .nav-list {
    display: flex;
    background: none;
    border: none;
  }

  .nav-list-items {
    color: #DCDCDC;
    list-style-type: none;
    margin-left: 0.75em;
    padding: 6px 15px;
    border-radius: 5px;
  }

  .nav-list-items:hover, 
  .nav-list-items:focus {
    background: #FFD56F;
    color: #252525;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 0em 3em;
    background: #121212;
    color: #DCDCDC;
  }

  /* Main */

  .main {
    min-height: 94vh;
  }

  .main-subheading {
    font-size: 1.75rem;
    letter-spacing: 4px;
  }

  /* Projects */
  
  .card {
    max-width: 300px;
    height: 300px;
  }
  
}


@media (min-width: 800px) {

  .header {
    padding: 0 5em;
  }

  .container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
  }

/* Main */

  .main-subheading {
    position: absolute;
    top: 245px;
    left: 250px;
    
  }

  .main-heading {
    position: absolute;
    top: 150px;
    left: 250px;
  }

  /* About */

  
  
}



